/Abstract_Factory/Block/blok/blok/nbproject/private/
/Abstract_Factory/Block/blok/libblokinterfaces/nbproject/private/
/Abstract_Factory/Block/blok/blok/build/
/Abstract_Factory/Block/blok/libblokinterfaces/build/
/Abstract_Factory/Block/Factory1/nbproject/private/
/Abstract_Factory/Block/Factory2/nbproject/private/
/Abstract_Factory/Block/Factory1/build/
/Abstract_Factory/Block/blok/libblokinterfaces/dist/
/Abstract_Factory/Block/Factory1/dist/
/Abstract_Factory/Block/Factory2/build/
/Abstract_Factory/Block/Factory2/dist/